body {
    font-family: Arial, sans-serif;
    background-color: white;
    color: #006d67;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 40vh;
    flex-direction: column;
}

p {
    max-width: 800px;
    margin: 20px auto;
    font-size: 1.1em;
    color: #666;
    line-height: 1.6;
    text-align: justify;
    text-justify: inter-word
}

h1, h2 {
    text-align: center;
    margin: 10px 0;
}

h1 {
    font-size: 2.5em;
    color: #006d67;
}

h2 {
    font-size: 1.8em;
    color: #006d67;
}

button {
    background-color: #006d67;
    color: white; 
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    font-size: 1em;
    cursor: pointer;
    margin: 10px 0;
    display: block;
    width: 100%;
    max-width: 300px;
}

button a {
    text-decoration: none;
    color: white;
    display: block;
    text-align: center;
}

button:hover {
    background-color: #004f50;
    color: white;
}

button a:hover {
    color: white;
}
