<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Log In Form</title>
    <link rel="stylesheet" href="static/css/login_styles.css">
</head>
<body>
    <div class="login-container">
        <div class="login-box">
            <div class="left-box">
                <img src="static/images/logoTF.jpg" alt="TaskFlow" class="logo">
            </div>
            <div class="right-box">
              <h2>Log In</h2>
              <form action="/login" method="POST">
                  {% csrf_token %}
                    <label for="username">Username</label>
                    <input type="text" id="username" name="username" placeholder="Username">
                    <label for="password">Password</label>
                    <input type="password" id="password" name="password" placeholder="Password">
                    <button type="submit">Submit</button>
                </form>
                <p>Don't have an account? <a href="/register">Register Here</a></p>
            </div>
        <script>
            if ("{{ error }}" != ""){
                alert("{{ error }}");
            }
        </script>
        </div>
    </div>
</body>
</html>
